*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar {
    min-height: 70px;
    margin-bottom: 0px;
    background-color: #09b795;
    border-radius: 0;

}

.navbar>.container .navbar-brand,
.navbar>.container-fluid .navbar-brand {
    font-size: 35px;
    margin-top: 7px;
    color: rgb(241, 233, 233);
}

.navbar .fa-search {
    margin-top: 23px;
    transform: translateX(2px);
}

.navbar [type="text"]{
    border-radius: 15px;
    outline: none;
    border: none;
    padding-left: 5px;
    height: 35px;
    width: 250px;
    margin-left: 280px;
    transform: translateY(-5px);
}

.navbar i {
    font-weight: 900;
    font-size: 25px;
    margin-top: 7px;
    color:#ffffff;
    transition: all 0.5s ease-in-out;
}

.navbar i:hover{
    color: #333;
}

/* END navbar */

 .backtop  {
    background-image: url(../static/backrghround.jpg);
    background-size: cover;
    height: 300px;
    width: 100%;
}
.pro .image-pro{
    text-align: center;
    transform: translateY(-90px);
}
.pro .image-pro img{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: #ccc;
    border: 5px solid #FFF;
    /*box-shadow:  2px 2px 2px 2px rgb(193 182 182);*/
    box-shadow: 2px 2px 20px #333,
                -2px -2px 20px #333;
}

.pro .content-pro h3{
    font-size: 34px;
    color: #09b795;
    margin-left: -80px;
}
.pro .content-pro h5{
    font-size: 20px;
    letter-spacing: 1px;
    color: #333;
    margin-left: -80px;
}


/*start information*/
.information{
    transform: translateY(-55px);
}
.information h2{
    color: #09b795;
    margin-bottom: 20px;
}
.information .info{
    background-color: #09b795;
    color: #FFF;
    border: 1px solid #FFF;
    height: 350px;
    border-radius: 10px;
    transition: all 0.5s ease-in-out;

}

.information .info:hover{
    box-shadow: 2px 2px 15px #9ee4d6,
               -2px -2px 15px #b5e4da;

    transform: translateY(-15px);
}

.information .info h3{
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 20px;
    background-color:rgb(120, 128, 122);
    padding: 10px;
}
.information .info.infooo span {
    display: block;
    font-size: 22px;
    line-height: 2;
}
.information .info p{
    font-size: 18px;
    padding: 11px;
    text-align: justify;
}
.information .info.contact span{
    font-size:18px
}

.info .social span, i {
    margin-bottom: 15px;

}

/* post ------------ */

.color{
    background-color: #bff0e6;
    width: 100%;
}
.shear {
    width: 60%;
    overflow: hidden;
    border: 2px solid #09b795;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    margin: 40px auto ;
}

.shear .image-shear span:first-of-type{
    font-size: 18px;

}

.shear .image-shear span:last-of-type{
    font-size: 15px;
    float: right;
    margin-top: 28px;
}

.shear .image-shear img {
    height: 80px;
    width: 80px;
    border-radius: 50%;

}

.shear .info-shear p {
    color: #333;
    font-size: 18px;
    line-height: 1.6;
    padding:10px 15px 0 15px;

}

.shear .info-shear img {
    width: 100%;
    max-height: 600px;
}


.shear i{
    color: rgb(199, 185, 185);
    font-size: 40px;
    transition: all 0.5s ease-in-out;
    margin-top: 10px;
    margin-left: 10px;

}


/* reaction ------------------*/

.openin span {
    font-size: 16px;
    color: #555;
    vertical-align: super;
    display: inline-block;
    transition: all .5s ease-in-out;

}

.openin input {
    padding: 10px;
    height: 40px;
    width: 316px;
    margin-top: 20px;
    outline: none;
}

.openin .reaction1,
.openin .reaction2 {
    transition: all 0.5s ease-in-out;
    margin-top: 5px;
    cursor: pointer;
}

.openin .reaction1:hover {
    background-color: rgb(236, 229, 229);
    border-radius: 5px;
}
.openin .reaction1:hover i,
.openin .reaction1:hover span{
    color: #24685a;
}

.openin .reaction2:hover {
    background-color: rgb(236, 229, 229);
    border-radius: 5px;
}
.openin .reaction2:hover i,
.openin .reaction2:hover span{
    color: #24685a;
}

input[type="submit"]{

ابوبكر CS50, [08.01.21 23:54]
background-color: #09b795;
    padding: 19px 26px;
    color: #fff;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    transform: translateY(-25px);
}


input[type="submit"]:hover{
    box-shadow: 1px 1px 5px #555
 }