*{
    padding: 0;
    margin: 0;

}

/*
.noti {
    margin: 1px auto;
    background-color: rgb(211, 208, 208);
    width: 400px;
    border-radius: 5px;
    border-bottom: 1.5px solid rgb(158, 157, 157);
    padding: 7px;
    display: flex;
    
}
.noti .img {
    
    flex: 1;
}



.noti img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
}

.noti .pro{
    
    flex: 4;
    margin-top: 10px;

}

.noti p {
    font-weight: bold;
    

}
 
.noti .border{
    border-bottom: 1px solid #333;
    width: 400px;
    
}





nav {
    align-items: center;
    background: #aaad9a;
    height: 60px;
    position: relative;
}


.icon {
    cursor: pointer;
    margin-right: 50px;
    line-height: 60px;
    position: absolute;
    top: -5px;
    right: 10px;
}

.icon span {
    background: #f00;
    padding: 7px;
    border-radius: 50%;
    color: #fff;
    vertical-align: top;
    margin-left: -25px;
}

.icon img {
    display: inline-block;
    width: 40px;
    margin-top: 20px;
    
}

.icon:hover{opacity: 8;}

*/

/* Star style of notification*/


.notifi-box{
    width: 300px;
    opacity: 1;
    position: absolute;
    top: 63px;
    right: 35px;
    background-color: rgb(156, 152, 152);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0.0.0.0.19);
    border-bottom-left-radius:10px ;
    border-bottom-right-radius:10px ;
    height:400px; 
    overflow:scroll;
}

.notifi-box h2{
    font-size: 24px;
    padding: 10px;
    border-bottom: 1px solid #eee;
    color:rgb(29, 28, 28);
    text-align: center;
}

.notifi-box h2 span {
    color: rgb(59, 53, 53);
}

.notifi-item{
    display: flex;
    border-bottom: 1px solid #eee;
    padding: 10px 5px;
    cursor: pointer;
    background-color: rgb(156, 152, 152);
}

.notifi-item:hover{
    background-color: rgb(180, 177, 177);
}

.notifi-item img {
    display: block;
    width: 50px;
    margin-right:10px ;
    border-radius: 50%;
}

.notifi-item .text h4{
    color: rgb(32, 32, 32);
    font-size: 18px;
    margin-top: 10px;

}

.notifi-item .text p {
    color: rgb(32, 32, 32);
    font-size: 16px;
}

/* End style of notification*/


