<!DOCTYPE html>
<html lang="en">
<head>
    {{ fontawesome_html() }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>

    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/all.min.css">
    <link rel="stylesheet" href="../static/home.css">
    <link href="https://file.myfontastic.com/QcwnemQyaiC6zhWfDbGgvE/icons.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="../static/search.css" />
   <link rel="stylesheet" href="../static/realsearch.css">
<style>

    h1 {
      font-weight: 100;
      width: 430px;
      background-color: #e1306c;
      padding: 10px;
      color: white;
      margin-top: 0;
      font-size: 24px;
    }
    .post {
      margin: 0;
    }
    img {
      width: 450px;
    }

    .like i {
      cursor: pointer;
    }
    .liked i {
      color: red;
      cursor: pointer;
    }
    .like, h2 {
      margin: 0;
      padding: 20px;
      width: 200px;
    }
    h2 {
      padding-bottom: 0;}

</style>
<body style="background-color: rgb(245,245,245);">
    <form method="post" action="/lookup">
    <nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/home"><img src="../static/O2-IRAQ.png" href="#Logo"></a>
                <input type="text" placeholder="Search" name="search" onclick="toggSearch()">
                <i class="fas fa-search" for="Search"> </i>

        </div>
    </form>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li><i class="fas fa-bell" id="bell" onclick="toggleNotifi()"></i></li>
            <li><a href="/profile"><i class="fas fa-user"></i></a></li>
            <li><a href="/logout"><i class="fas fa-sign-out-alt"></i></a></li>
        </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>

    <!--END NAVbar-->
    <div class="container">
        <div class="all">
            <div class="row">
                <div class="col-md-8">
                    <div class="post">
                        <div class="image">
                             <img src="{{ url_for('static', filename='profile_pictures/' + profile_pic)}}">
                            <form method="post" action="/activity" ENCTYPE="multipart/form-data">
                                <textarea rows="3" cols="75" style="resize:none; outline:none; border-radius: 30px; padding:10px 0 0 10px ;" name = "text_area" placeholder="Share For Your Environment"></textarea>
                                <input type="submit" value="Post">

                                <!-- <input type="file" accept="image/*"> -->

                                <div class="upload-btn-wrapper">
                                    <button class="btn">Choose Photos</button>
                                    <input type="file" name="myfile" />
                                </div>

                            </form>
                        </div>
                    </div>


            <!-- Shear post -->

            <!--------------------start loop--------------------->
            {% for post  in  posts  %}

            <div class="shear">
                <div class="image-shear">
                    <img src="{{ url_for('static', filename='profile_pictures/' + profile_pic)}}">
                    <span>{{ post.user_name }}</span>
                    <span> {{ post.date }} </span>
                </div>
                <div class="info-shear">
                    <p>{{ post.post }}</p>
                    {% if post.post_pic %}
                        <img src="{{ url_for('static', filename='profile_pictures/' + post.post_pic) }}">
                    {% endif %}
                </div>
                <div class="openin">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="reaction1">
                                <i class="fas fa-tree"></i> <span></span>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="reaction1">
                                <div class="like liked" id="reaction" style="font-size: 20px;">
                                    <i class="icon-fas-fa-tree" id="likess"></i>
                                    <span id="like-count">99 <strong>likes</strong></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="reaction3">
                                <input type="text" name="comment" placeholder="Type Your Comment">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

         <!------------------End loop----------------->

                    <div class="col-md-3">
                        <div class="reaction3">
                            <input type="text" name="comment" placeholder="Type Your Comment">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shear">
            <div class="image-shear">
                <img src="../static/aya.jpg" alt="">
                <span>Aya alani</span>
                <span> 2021.1.12 4:00 PM </span>
            </div>
            <div class="info-shear">
                <p>التلوث البيئي ـ موت بطيء يهدد حياة العراقيين
يعاني العراق من نسبة تلوث كبيرة في الهواء تسببت فيها عوامل عدة منها ما هو راجع لعوامل طبيعية ومنها ما هو من صنع الإنسان في وقت السلم أو الحرب. دويتشه فيله تسلط الضوء على ما يعتبره المختصون "كارثة" تهدد حياة العراقيين.</p>
                <img src="../static/p3.jpg" alt="...">
            </div>
            <div class="openin">
                <div class="row">
                    <div class="col-md-3">
                        <div class="reaction1">
                            <div class="like liked" id="reaction" style="font-size: 20px;">
                                <i class="icon-fas-fa-tree" id="likess"></i>
                                <span id="like-count">99 <strong>likes</strong></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="reaction3">
                            <input type="text" name="comment" placeholder="Type Your Comment">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>



            <!-- REACH-->

            <div class="col-md-4">
                <div class="reach">
                    <h3>Most Traded</h3>
                    <div class="media">
                        <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object" src="../static/profil.png" alt="...">
                        </a>
                        </div>
                        <div class="media-body">
                        <h4 class="media-heading">Middle aligned media</h4>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object" src="../static/profil.png" alt="...">
                        </a>
                        </div>
                        <div class="media-body">
                        <h4 class="media-heading">Middle aligned media</h4>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left media-middle">
                        <a href="#">
                            <img class="media-object" src="../static/profil.png" alt="...">
                        </a>
                        </div>
                        <div class="media-body">
                        <h4 class="media-heading">Middle aligned media</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>




<!--start-->


        <div class="notifi-box" id="box" style="height: 0px; opacity: 0;">
            <h2>Notifications <span>6</span></h2>
           {% for post in noti_posts  %}
            <div class="notifi-item">
                <img src="{{ url_for('static', filename='profile_pictures/' + profile_pic)}}">
                <div class="text">
                    <h>{{post.user_name}} <span> {{post.date}}</span> </h>

                    <p>{{post.post}}</p>
                </div>
            </div>
             {% endfor %}


        </div>
<!--start Search-->



    <div class="search-box" id="search" style="height: 0px; opacity: 0;">
        <img src="../static/person.jpg">
        <div class="text">
            <h4>Aya alani</h4>
        </div>

    </div>







<script src="../static/bootstrap.js"></script>
<script src="../static/js1.js"></script>
<script src="../static/js-search.js"></script>
</body>
<script>
    let $likeButton = document.querySelector( ".like i" );
    let $likeCount = document.getElementById( "like-count" );
    let $likeWrapper = document.querySelector( ".like" );
    let hasBeenClicked = false;

    function likeClickHandler(){

        let likes = $likeCount.innerText;
        likes = parseInt( likes );

        if ( hasBeenClicked ){

            likes--;
            $likeWrapper.classList.remove( "liked" );
            $likeButton.classList.remove("fas");
            $likeButton.classList.add("far");
            hasBeenClicked = false;


        } else {

            likes++;
            $likeWrapper.classList.add( "liked" );
            $likeButton.classList.remove("far");
            $likeButton.classList.add("fas");
            hasBeenClicked = true;

        }

    $likeCount.innerHTML = likes + " <strong>likes</strong>";
    let dict = {Number : likes};
    $.ajax({
        type: "POST",
        url: "http://127.0.0.1:5000/home",
        data: JSON.stringify(dict),
        dataType: 'json',
        contentType: "application/json;charset=UTF-8",
        success: function (e) {
                    console.log(e);
                },
        error: function(error) {
                console.log(error);
            }
    });

    }

    $likeButton.addEventListener( "click", likeClickHandler );


</script>

</html>
