<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Button</title>
    <link href="https://fontawesome.com/icons/heart" rel="stylesheet">
    <link href="https://file.myfontastic.com/QcwnemQyaiC6zhWfDbGgvE/icons.css" rel="stylesheet">
    <link href="https://file.myfontastic.com/QcwnemQyaiC6zhWfDbGgvE/icons.css" rel="stylesheet">
    <link href="https://file.myfontastic.com/QcwnemQyaiC6zhWfDbGgvE/icons.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <link href="https://file.myfontastic.com/QcwnemQyaiC6zhWfDbGgvE/icons.css" rel="stylesheet">
</head>
<style>
body {
  background-color: #f0f0f0;
  padding: 50px;
  margin: 0;
  font-family: Helvetica, sans-serif;
}
h1 {
  font-weight: 100;
  width: 430px;
  background-color: #e1306c;
  padding: 10px;
  color: white;
  margin-top: 0;
  font-size: 24px;
}
.post {
  margin: 0;
}
img {
  width: 450px;
}

.like i {
  cursor: pointer;
}
.liked i {
  color: red;
  cursor: pointer;
}
.like, h2 {
  margin: 0;
  padding: 20px;
  width: 410px;
}
h2 {
  padding-bottom: 0;
}
</style>

<body>
<!-- LIKE BUTTON + COUNT -->
<div class="like liked" id="reaction" style="font-size: 50px;">

  <i class="icon-fas-fa-tree" id="likess"></i>
  <span id="like-count">99 <strong>likes</strong></span>
    <span id=result>?</span>


</div>
</body>
<script>
    debugger;
    let $likeButton = document.querySelector( ".like i" );
let $likeCount = document.getElementById( "like-count" );
let $likeWrapper = document.querySelector( ".like" );
let hasBeenClicked = false;

function likeClickHandler(){

    let likes = $likeCount.innerText;
    likes = parseInt( likes );

    if ( hasBeenClicked ){

        likes--;
        $likeWrapper.classList.remove( "liked" );
        $likeButton.classList.remove("fas");
        $likeButton.classList.add("far");
        hasBeenClicked = false;


    } else {

        likes++;
        $likeWrapper.classList.add( "liked" );
        $likeButton.classList.remove("far");
        $likeButton.classList.add("fas");
        hasBeenClicked = true;

    }

    $likeCount.innerHTML = likes + " <strong>likes</strong>";
    debugger;
    let dict = {Number : likes};
    $.ajax({
        type: "POST",
        url: "http://127.0.0.1:5000/",
        data: JSON.stringify(dict),
        dataType: 'json',
        contentType: "application/json;charset=UTF-8",
        success: function (e) {
                    console.log(e);
                },
        error: function(error) {
                console.log(error);
            }
});

}

$likeButton.addEventListener( "click", likeClickHandler );


</script>
</html>