<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <link rel="stylesheet" href="../static//bootstrap.min.css">
    <link rel="stylesheet" href="../static//all.min.css">
    <link rel="stylesheet" href="../static/login1.css">
</head>
<body style="background-color:rgb(245,245,245);">
    <div class="regist">
        <div class="row">
            <div class="col-md-5">
                <!--form-->
                <div class="regest">
                    <div class="all">
                        <h1>Welcome Back</h1>
                        <div class="info">
                            <h1>Sign In</h1>

                            <form method="post">
                                <input type="text" placeholder="Enter Your Email" name="username">
                                <input type="password" placeholder="Enter Your password" name="password">

                        </div>
                        <div class="send">
                            <form method="post">
                                <input type="submit" value="Login">

                            </form>
                            </form>
                            <a href="/register"> <input type="submit" value="Register"> </a>
                        </div>


                    </div>
                </div>
            </div>

            <!--End form-->

            <div class="col-md-7">
                <!--img-->
                <img src="../static/Group30.png">
            </div>
        </div>
    </div>
</body>
</html>