<!DOCTYPE html>
<html>
<head>
    <link href="../static/aaa.css" rel="stylesheet">

   <link href="https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='expiration.css') }}">
</head>
<body>

  <div class="login">
  <div class="main">
    <div class="description">
      
      <img src="../static/tree.png">
    </div>
  </div>

  <div class="partlogin">
      <form method="post">
        
        <h1>Sign in</h1>
        <input type="text" name = "username" placeholder="Enter Your Username">
        <input type="password" name = "password" placeholder="Enter Your Password">
        <input type="submit" value="LOGIN">
      </form>
  </div>




  </div>
    




</body>

</html>
