<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link HREF="../../O2iraq/Project/templates/style.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <style>
        .home {
            height: 600px;
            width: 600px;
            margin: 100px auto;
        }

        h1 {
            margin-bottom: 20px;

        }

        a{
            display: block;
            margin-bottom: 20px;
        }



    </style>
</head>
<body>




<div class="home">

<h1 style="color:#08ff00;">{{ current_user }}'s Notification:</h1>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">


    <div class="col no-gutters">
        <div class="rightside">
        {{ user_id }}
            {% for post in  posts  %}
                    <div class="p-3 mb-2 bg-success text-white">
            <p style="color:#efe9e9;">-{{ post.user_name }} has new post: {{ post.post }} </p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<A HREF="/logout">logout</A></div>


</div>
</body>
</html>


