<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your prefrences!</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
</head>
<body>
<h1> Welcome {{ current_user }}</h1>
You are new here!
<form method="post">
<select class="form-select" aria-label="Default select example">
  <option selected>Please choose your interests from this list</option>
  <option value="1">One</option>
  <option value="2">Two</option>
  <option value="3">Three</option>
    <input type="submit" value="To homapage">
</select>
</form>
</body>
</html>
