<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/all.min.css">
    <link rel="stylesheet" href="../static/reajest.css">
</head>
<body style="background-color:rgb(245,245,245);">
    <div class="regist">
        <div class="row">
            <div class="col-md-5">
                <!--form-->
                <div class="regest">
                    <div class="all">
                        <h1>welcome</h1>
                        <div class="info">
                            <h1>Register</h1>

                            <form method="post">
                                <input type="text" placeholder="Enter Your Name"  name="username">
                                <input type="email" placeholder="Enter Your Email" name="email">
                                <input type="password" placeholder="Enter Your password" name="password">
                                <input type="password" placeholder="Confirm Your password" name="confirmation">
                                <input type="submit" value="Register Now" required>


                            <div class="data">
                                <label>
                                    <select name="sex">
                                        <option value="male">Male</option>
                                        <option value="female">Female</option>
                                    </select>
                                </label>


                                <label>
                                    <select name="city">
                                        <option value="Baghdad">Baghdad</option>
                                        <option value="Basra">Basra</option>
                                        <option value="AL-anbar">AL-anbar</option>
                                        <option value="Babil">Babil</option>
                                        <option value="Dhi Qar">Dhi Qar</option>
                                        <option value="AL-Qadisiyah">AL-Qadisiyah</option>
                                        <option value="Diyala">Diyala</option>
                                        <option value="Duhok">Duhok</option>
                                        <option value="Erbil">Erbil</option>
                                        <option value="Sulymaniyah">Sulymaniyah</option>
                                        <option value="Halabja">Halabja</option>
                                        <option value="Karkuk">Karkuk</option>
                                        <option value="Karbala">Karbala</option>
                                        <option value="Maysan">Maysan</option>
                                        <option value="Muthanna">Muthanna</option>
                                        <option value="Najaf">Najaf</option>
                                        <option value="Wasit">Wasit</option>
                                        <option value="Salahdin">Salahdin</option>
                                        <option value="Mosul">Mosul</option>
                                    </select>
                                </label>
                                    </form>

                            </div>


                        </div>


                    </div>
                </div>
            </div>

            <!--End form-->

            <div class="col-md-7">
                <!--img-->
                <img src="../static/Group30.png">
            </div>
        </div>
    </div>
</body>
</html>