<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="css/all.min.css">
    <link rel="stylesheet" href="../static/reajest.css">
</head>
<body style="background-color:rgb(245,245,245);">
    <div class="regist">
        <div class="row">
            <div class="col-md-5">
                <!--form-->
                <div class="regest">
                    <div class="all">
                        <h1>welcome</h1>
                        <div class="info">
                            <h1>Register</h1>

                            <form>
                                <input type="text" placeholder="Enter Your Name" > 
                                <input type="email" placeholder="Enter Your Email">
                                <input type="password" placeholder="Enter Your password">
                                <input type="password" placeholder="Confirm Your password">
                            </form>

                            <div class="data">
                                <select name="Sex">
                                    <option value="">Male</option>
                                    <option value="">Female</option>
                                </select>

                                <select name="City">
                                    <option value="">Baghdad</option>
                                    <option value="">Basra</option>
                                    <option value="">AL-anbar</option>
                                    <option value="">Babil</option>
                                    <option value="">Dhi Qar</option>
                                    <option value="">AL-Qadisiyah</option>
                                    <option value="">Diyala</option>
                                    <option value="">Duhok</option>
                                    <option value="">Erbil</option>
                                    <option value="">Sulymaniyah</option>
                                    <option value="">Halabja</option>
                                    <option value="">Karkuk</option>
                                    <option value="">Karbala</option>
                                    <option value="">Maysan</option>
                                    <option value="">Muthanna</option>
                                    <option value="">Najaf</option>
                                    <option value="">Wasit</option>
                                    <option value="">Salahdin</option>
                                    <option value="">Mosul</option>
                                </select>


                            </div>

                            <form>
                                <input type="submit" value="Register Now">
                            </form>
                        </div>


                    </div>
                </div>
            </div>

            <!--End form-->

            <div class="col-md-7">
                <!--img-->
                <img src="../static/Group30.png">
            </div>
        </div>
    </div>
</body>
</html>