<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <title>Upload image</title>
</head>
<body>
<!--<p > {{s}}</p>-->
<form method="POST"  action="/" ENCTYPE="multipart/form-data">
    <div class="form-group">
        <label> Select image</label>
        <div class="custom-file">
            <input type="file" class="custom-file-input" name = "image" id = "image">
            <label class="custom-file-lable" for="image"> select image</label>
        </div>
        <button type="Submit" class="btn-default"> Upload </button>
    </form>


</body>
</html>
